body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

h2 {
    color: #ff6f61;
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}

.form-label {
    font-weight: bold;
    color: #555555;
}

.form-control {
    border: 2px solid #ff6f61;
    border-radius: 10px;
    padding: 10px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #ff3b3b;
    box-shadow: 0 0 5px rgba(255, 59, 59, 0.5);
}

.btn-primary {
    margin-top: 20px;
    background-color: #ff6f61;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s;
}
.btn-danger {
    margin-top: 20px;
    background-color: #df1806;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #ff3b3b;
}

.mt-5 {
    margin-top: 3rem;
}

.alert {
    margin-top: 20px;
    border-radius: 10px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
